@model CreateCurrencyDto

<form asp-controller="Currency" asp-action="Create" class="offset-3 col-lg-6">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Döviz Adı</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Döviz Adı">
    </div>
    <div class="mb-3">
        <label asp-for="AttributeName" class="form-label">Döviz HTML Kodu</label>
        <input asp-for="AttributeName" type="text" class="form-control" placeholder="Döviz HTML Kodu">
        <div id="emailHelp" class="form-text">Verilerin çekildiği <a href="https://www.doviz.com/">internet sayfasının</a>, istenen döviz kuru için belirlediği HTML kodunu girmeniz gerekmektedir.</div>
    </div>
    <button type="submit" class="btn btn-primary col-lg-2">Ekle</button>
</form>