@model List<CurrencyDetailVM>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Döviz Adı</th>
            <th scope="col">Döviz Değeri</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var currencyDetail in Model)
        {
            <tr>
                <td>@currencyDetail.CurrencyName</td>
                <td>@currencyDetail.Value</td>
            </tr>
        }

    </tbody>
</table>