@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Mevcut döviz kurlarını görüntülemek için diğer sekmeleri kullanabilirsiniz</p>
</div>
